.Brick {
  width: 89px;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.Brick--bottom-back {
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--bottom-right {
  margin-left: 44px;
  margin-top: 19px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--bottom-front {
  margin-top: 38px;
  z-index: 1;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--bottom-left {
  margin-top: 19px;
  margin-left: -44px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--middle-back {
  margin-top: -46px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--middle-right {
  margin-top: -27px;
  margin-left: 44px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--middle-front {
  z-index: 2;
  margin-top: -8px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--middle-left {
  margin-left: -44px;
  margin-top: -27px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--top-back {
  margin-top: -92px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--top-right {
  margin-top: -73px;
  margin-left: 44px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 1.74s;
          animation-delay: 1.74s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--top-front {
  z-index: 3;
  margin-top: -54px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--top-left {
  margin-top: -73px;
  margin-left: -44px;
  -webkit-animation-name: move-down;
          animation-name: move-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 1.92s;
          animation-delay: 1.92s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
.Brick--yellow .light {
  fill: #FCEE21;
}
.Brick--yellow .dark {
  fill: #e7d803;
}
.Brick--red .light {
  fill: #DB4437;
}
.Brick--red .dark {
  fill: #bd2e22;
}
.Brick--blue .light {
  fill: #4285F4;
}
.Brick--blue .dark {
  fill: #1266f1;
}
.Brick--green .light {
  fill: #0F9D58;
}
.Brick--green .dark {
  fill: #0b6e3e;
}
@keyframes move-down {
  90% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
  95% {
    -webkit-transform: translate3d(0, calc(138vh), 0);
            transform: translate3d(0, calc(138vh), 0);
  }
  100% {
    -webkit-transform: translate3d(0, 140vh, 0);
            transform: translate3d(0, 140vh, 0);
  }
}
@-webkit-keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.bottom-back {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 0.875s;
          animation-duration: 0.875s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.bottom-right {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.bottom-front {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 0.375s;
          animation-duration: 0.375s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.bottom-left {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 0.625s;
          animation-duration: 0.625s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.middle-back {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.middle-right {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.middle-front {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.middle-left {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 0.95s;
          animation-duration: 0.95s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.top-back {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.top-right {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 1.125s;
          animation-duration: 1.125s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.top-front {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
.top-left {
  -webkit-animation-name: fall-down;
          animation-name: fall-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes fall-down {
  to {
    -webkit-transform: translate3d(0, 250vh, 0);
            transform: translate3d(0, 250vh, 0);
  }
}
body,
html {
  height: 100%;
  margin: 0;
}
.page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(-31px, -100vh, 0) scale(0.7);
          transform: translate3d(-31px, -100vh, 0) scale(0.7);
}
