.keyframes(@name; @arguments) {
	@keyframes @name { @arguments(); }
}

.animation(@duration; @delay) {
	animation-name: move-down;
  animation-duration: @duration;
  animation-timing-function: ease-in;
  animation-delay: @delay;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
  animation-fill-mode: forwards;
}

.move-down-keyframes {
	.keyframes(move-down; {
		// to {
		// 	transform: translate3d(0, 140vh, 0);
		// }

		90% {
			transform: translate3d(0, 140vh, 0);
		}
		95% {
			transform: translate3d(0, calc(140vh-2px), 0);
		}
		100% {
			transform: translate3d(0, 140vh, 0);
		}
	});
}